
 body {
    font-family: 'Open Sans', sans-serif;
    line-height:28px;
   
}
.set-radius-zero {
    border-radius:0px;
    -moz-border-radius:0px;
    -webkit-border-radius:0px;
}
.landing-page {
    width: 500px;
    margin-top: 40px;
    min-height:800px;
    padding-bottom:90px;

}
.content-wrapp {
    min-height:800px;
    /* padding-bottom:90px; */
}
.content-items img{
    width: 100%;
    height: 100vh;
    background-color: cover;
    background-position: center;

}
.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 600px;
    height: 450px;
    border-radius: 30px;
    font-size: 24px;
    background-color: #f7f7f7;
    margin: 70px auto;
    opacity: 0.8;
    color: #030002;
}  
.password-toggle {
    position: relative;
}
/* Password input field styles */
.password-toggle {
    position: relative;
}
  
.password-toggle .form-control {
    padding-right: 40px;
}
  
.password-toggle .toggle-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}
  
  /* Show/hide password icon styles */
.password-toggle .fa-eye-slash {
    color: #999;
}
  
.password-toggle .fa-eye {
    color: #333;
}  
.toggle-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}
.password-toggle .toggle-icon i {
    font-size: 18px;
    color: #5bc0de;
}
  
.btn-info {
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
}
.text .btn {
    width: 200px;
    margin: 1.2rem 1.5rem;
    padding: 0.8rem 1 rem;
    border: 2px solid black;
    border-radius: 5px;
    background-color: transparent;
    text-transform: uppercase;
    color: #000;
    font-weight: normal;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    box-shadow: inset 0 0 0 #009688;
    transition: 0.6s ease-out;
    cursor: pointer;
}
.text .btn:hover {
    box-shadow: inset 200px 0 0 #5bc0de;
}
.text .btnreg {
    width: 200px;
    margin: 1.2rem 1.5rem;
    padding: 0.8rem 1 rem;
    border: 2px solid #000;
    border-radius: 5px;
    background-color: #46b8da;
    background-color: transparent;
    text-transform: uppercase;
    color: #000;
    font-size: 12px;
    font-weight: bold;
    box-shadow: inset 0 0 0 #009688;
    transition: 0.6s ease-out;
    cursor: pointer;
    /* position: absolute;
    top: 45%;
    left: 35%;
    transform: translate(-50%, 250%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px; */
  }

.text .btnreg:hover {
    box-shadow: inset 200px 0 0 #5bc0de;
}
.content-wrapper {
    margin-top: 40px;
    min-height:800px;
    padding-bottom:90px;
}
.header-line {
    font-weight:900;
    padding-bottom:25px;
    border-bottom:1px solid #eeeeee;
    text-transform:uppercase;
}
.pad-botm {
    padding-bottom:30px;
}
.password-toggle {
    position: relative;
  }
  .toggle-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
  }
  

/* =============================================================
   NAVBAR & MENU STYLES
 ============================================================ */

.right-div {
    float: right; 
    padding: 20px;
}
#menu-top a {
    color:#000;
    text-decoration:none;
    font-weight:500;
    padding: 25px 15px 25px 15px;
    text-transform:uppercase;

}
.menu-section {
    background-color: #C9D3EC;
    border-bottom:5px solid #9170E4;
    width:100%
}
.menu-top-active {
    background-color:#9eaac9;
}
.navbar-inverse {
background-color: #FFF;
border-color: rgba(155, 153, 153, 0.23);

}

.navbar {
    min-height: 90px;
    margin-bottom: 0px;
   
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color:transparent;
}
.navbar-toggle {
background-color: black;
border: 1px solid black;
}

    /* =============================================================
   DASHBOARD STYLES
 ============================================================ */

.img-comments {
   border: 3px double #e1e1e1;
height: 60px;

}

.chat-widget-main {
    max-height:330px;
    overflow:auto;
}

.slide-bdr {
   border:5px solid #9170E4
}
.chat-widget-left:after {
    top: 100%;
    left: 10%;
    border: solid transparent;
    content: " ";
    position: absolute;
    border-top-color: #F70E62;
    border-width: 15px;
    margin-left: -15px;
}

.chat-widget-left {
    width: 100%;
    height: auto;
    padding: 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    position: relative;
    border: 1px solid #F70E62;
    font-size:12px;
}
.chat-widget-right:after {
    top: 100%;
    right: 10%;
    border: solid transparent;
    content: " ";
    position: absolute;
    border-top-color: #5AA8CC;
    border-width: 15px;
    margin-left: -15px;
}

.chat-widget-right {
    width: 100%;
    height: auto;
    padding: 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    position: relative;
    border: 1px solid #5AA8CC;
    font-size:12px;
}

.chat-widget-name-left {
   color: #808080;
    margin-top: 30px;
    margin-left: 60px;
    text-align:left;
}

    .img-left-chat {
        border:3px double #e1e1e1;
        float:left;
        margin-right:30px;
    }
     .img-right-chat {
        border:3px double #e1e1e1;
        float:right;
        margin-left:30px;
    }
     .chat-widget-main img-right {
        border:3px double #e1e1e1;
        float:left;
    }
.chat-widget-name-left h4 {
    font-weight:normal;
    font-size:11px;
    
}
.chat-widget-name-left h5 {
    font-weight:normal;
    font-size:10px;
}
.chat-widget-name-right h4 {
    font-weight:normal;
    font-size:11px;
}
.chat-widget-name-right h5 {
    font-weight:normal;
    font-size:10px;
}
.chat-widget-name-right {
    color: #808080;
    margin-top: 40px;
    margin-right: 60px;
    text-align:right;
}

.recent-users-sec img {
    max-height:80px;
    margin:15px;
}

.back-widget-set {
    background-color:transparent;
}

/* =============================================================
   FOOTER SECTION STYLES
 ============================================================ */
.footer-section {
    padding:25px 50px 25px 50px;
    color:#000;
    font-size:13px;
      background-color: #f7f7f7;
      text-align:right;
       border-top:5px solid #9170E4;

}

    .footer-section a, .footer-section a:hover {
        color:#000;
    }

